.questionCard {
  margin: 20px 0px;
  padding: 10px;
  width: 100%;
  border: 1px solid green;
  border-radius: 5px;
  font-size: 18px;
}

.questionText {
  font-size: 20px;
  margin-bottom: 20px;
}

.options {
  margin-bottom: 5px;
}

.options input[type='checkbox'] {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.questionCard button {
  background-color: green;
  margin-top: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
}

.redButton {
  background-color: red !important;
  float: right;
}
