.authContainer {
  text-align: center;
}

.authControl {
  width: 50%;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 18px;
}

.selected {
  border-bottom: 5px solid green;
}
