.createQuestionCard {
  margin-top: 20px;
  border-top: 20px solid green;
}

.answer {
  width: 80%;
  margin: auto;
  text-align: left;
  margin-top: 5px;
}

.answer input[type='checkbox'] {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.marksInput {
  margin-top: 20px;
}

.marksInput input[type='number'] {
  height: 40px;
  font-size: 15px;
  margin: 0px 10px;
}

.answer input[type='text'] {
  height: 30px;
  font-size: 15px;
  width: fit-content;
}

.submitQuestionButton {
  background-color: yellow !important;
  color: black !important;
  margin-bottom: 20px;
}

@media screen and (max-width: 526px) {
  .answer {
    width: 100%;
  }
}
