.container {
  text-align: center;
  margin-top: 10%;
}

.spin {
  border: 16px solid green;
  border-top: 16px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.container h1 {
  font-weight: 500;
  margin-top: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
