.responseCard {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.questionText {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
}

.responses {
  padding: 10px 0px;
  font-size: 18px;
  border-radius: 5px;
}

.responses input[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  vertical-align: middle;
}

.correct {
  background-color: rgba(0, 128, 0, 0.363);
}

.wrong {
  background-color: rgba(255, 0, 0, 0.363);
}
